@font-face {
  font-family: fuente1;
  src: url(../assets/fuentes/moderna.ttf);
}
.header {
  background-color: rgba(0, 0, 0, 0.582);
  display: grid;
  height: 67px;
  grid-template-columns: 3fr 1fr; /* GRID CONTROL: POSICIONES INTERNAS DEL HEADER */
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.header__section__logo {
  width: 60px;
  margin-left: 15px;
}
.header__nav {
  position: relative;
}
.header__nav__img {
  width: 40px;
  height: 40px;
}
.header__nav__ul { /* POSICION DEL MENU HAMBURGUESA EMERGENTE */
  position: absolute;
  top: 125%;
  right: 0.1px;
  font-size: 20px;
  font-family: fuente1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  display: none;
}
.header__nav__ul__li--nosotros {
  background-color: rgba(0, 0, 0, 0.582);
  width: 160px;
  display: flex;
  justify-content: center;
  height: 50px;
  animation: deploy-menu-hamb 0.5s linear;
}
.header__nav__ul__li--nosotros__a {
  text-decoration: none;
  color: aliceblue;
}
.header__nav__ul__li--hacemos {
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  animation: deploy-menu-hamb 0.7s linear;
}
.header__nav__ul__li--hacemos__a {
  text-decoration: none;
  color: aliceblue;
}
.header__nav__ul__li--contacto {
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  justify-content: center;
  animation: deploy-menu-hamb 0.9s linear;
  border-bottom-left-radius: 1rem;
}
.header__nav__ul__li--contacto__a {
  text-decoration: none;
  color: aliceblue;
}

#menu-hamb:checked + .header__nav__ul {
  display: grid;
}

@keyframes deploy-menu-hamb {
  0% {
    transform: translateX(160px);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.body {
  background: url(../assets/images/fondo-pizza.png);
  background-size: cover;
  background-position-x: 70%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr; /* GRID CONTROL: HEADER, MAIN, FOOTER */
  grid-template-rows: 0.6fr 4fr 3fr;
}

.body--backg-extendido {
  background: url(../assets/images/fondo-pizza-extendido.png);
  background-size: 1300px;
  background-position-x: -600px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  height: 100%;
}
.main__section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.main__section__tu-logo {
  width: 120px;
  margin-top: 100%;
}
.main__section__tu-logo--productos {
  width: 90px;
  margin-top: 40%;
}

.section {
  background-color: rgba(0, 0, 0, 0.795);
  display: grid;
  grid-template-columns: 0.1fr;
  grid-template-rows: repeat(11, 0.1fr);
  justify-content: center;
  margin: 0 auto;
  justify-items: center;
  width: 70%;
  height: 100%;
  gap: 2%;
  border-radius: 1rem;
  margin-top: 10px;
}
.section__div {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 1rem;
  opacity: 100%;
  transition: all 0.5s linear;
  height: 170px;
}
.section__div__frontcard {
  height: 150px;
  border-radius: 1rem;
  opacity: 100%;
  z-index: 3;
  position: relative;
  transition: all 0.35s linear;
}
.section__div__backcard {
  height: 155px;
  width: 160px;
  position: relative;
  bottom: 150px;
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 1rem;
  opacity: 100%;
  transition: all 0.35s linear;
  z-index: 2;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.575);
  pointer-events: none;
}
.section__div__backcard__h3 {
  font-size: 25px;
  padding: 7px;
  text-align: center;
}

.section__div__frontcard:hover ~ .section__div__backcard {
  bottom: 125px;
}

.section__div__frontcard:hover {
  transform: translateY(-19px);
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.footer__section {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.footer__section__a {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: end;
}
.footer__section__a__socialmedia {
  width: 25px;
  height: 30px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.footer__section__a--logo1 {
  animation: deploy-social-media 1.5s linear;
}
.footer__section__a--logo2 {
  animation: deploy-social-media 1.9s linear;
  outline: none;
}
.footer__section__a--logo3 {
  animation: deploy-social-media 2.3s linear;
  outline: none;
}

.footer__section__a:focus {
  background-color: aliceblue;
}

@keyframes deploy-social-media {
  0% {
    transform: translatey(160px);
  }
  100% {
    transform: translatey(0);
  }
}

/*# sourceMappingURL=main.css.map */
