@media (min-width: 320px) {
    


@font-face {
    font-family: fuente1;
    src: url(../assets/fuentes/moderna.ttf);
}


.header {
    background-color: rgba(0, 0, 0, 0.582);
    display: grid; 
    height: 5rem;
    grid-template-columns: 3fr 1fr; /* GRID CONTROL: POSICIONES INTERNAS DEL HEADER */
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    

    &__section {

        &__logo {
            width: 3.75rem;
            margin-left: 1rem;
        }
    }

    &__nav {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        
        &__img {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
        }

        &__ul { /* POSICION DEL MENU HAMBURGUESA EMERGENTE */
            position: absolute;
            top: 150%;
            right: 0.01rem;
            font-size: 1.2rem;
            font-family: fuente1;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            display: none;
      

            &__li--nosotros {     
                background-color: rgba(0, 0, 0, 0.582);
                width: 10rem;
                display: flex;
                justify-content: center;
                height: 4rem;
                animation: deploy-menu-hamb 0.5s linear;
               

                &__a {
                    text-decoration: none;
                    color: aliceblue;
                   
                }
            }

            &__li--hacemos {
                background-color: rgba(0, 0, 0, 0.582); 
                display: flex;
                justify-content: center; 
                animation: deploy-menu-hamb 0.7s linear;
               

                &__a {
                    text-decoration: none;
                    color: aliceblue;
                   
                }
            }

            &__li--contacto {
                background-color: rgba(0, 0, 0, 0.582);  
                display: flex;
                justify-content: center;
                animation: deploy-menu-hamb 0.9s linear;
                border-bottom-left-radius: 1rem;
             

                &__a {
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }    
    }
}


#menu-hamb:checked + .header__nav__ul  {
    display: grid;
}


@keyframes deploy-menu-hamb {
    0% {transform: translateX(160px);}
    100% {transform: translateX(0);}
}

}

@media (min-width:1000px) {

    .header__nav__ul__li--nosotros {
        width: 18rem;
    }

    .header__nav__ul__li--contacto {
        width: 18rem;
    }

    .header__nav__ul__li--hacemos {
        width: 18rem;
    } 
}

@media (min-width:2000px) {

    .header__nav__ul__li--nosotros {
        width: 30rem;
    }

    .header__nav__ul__li--contacto {
        width: 30rem;
    }

    .header__nav__ul__li--hacemos {
        width: 30rem;
    } 
}
